<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
            <figure>
                <img src="~/images/lanches01.jpeg" class="d-block w-100" alt="Delicioso X-Frango, presunto e maionese caseira">
                <figcaption>Saboreie nosso suculento X-Frango, presunto, alface, tomate, cebola e maionese especial.</figcaption>
            </figure>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
            <figure>
                <img src="~/images/lanches02.jpeg" class="d-block w-100" alt="Sanduíche de ciabatta com presunto e queijo derretido">
                <figcaption>Experimente nosso sanduíche de ciabatta com presunto e generosa camada de queijo derretido.</figcaption>
            </figure>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
            <figure>
                <img src="~/images/lanches03.jpeg" class="d-block w-100" alt="Cachorro-quente gourmet com salsicha, vinagrete e molho de mostarda">
                <figcaption>Aproveite nosso cachorro-quente gourmet com salsicha, vinagrete fresco e um toque de molho de mostarda.</figcaption>
            </figure>
        </div>
        <!-- Slide 4 -->
        <div class="carousel-item">
            <figure>
                <img src="~/images/lanches04.jpeg" class="d-block w-100" alt="Porção de torresmo crocante com cerveja gelada">
                <figcaption>Desfrute de uma porção generosa de torresmo crocante, acompanhada de uma cerveja gelada.</figcaption>
            </figure>
        </div>
    </div>

    <!-- Botões de navegação -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>
